<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/bootstrap")
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav class="navbar navbar-default  navbar-static-top" role="navigation" id="navbar">
        @Html.Partial("_navbar")
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer>
        @Html.Partial("_footer")
    </footer>
</body>
</html>
